apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: mysakn-app
spec:
  ports:
  - port: 9092
    name: plaintext
    targetPort: 9092
  - port: 9093
    name: controller
    targetPort: 9093
  selector:
    app: kafka
